<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.monsh.springbootpractice.mapper.UserMapper">

<!-- Read Authority -->
<select id="readAuthorities" parameterType="String" resultType="org.springframework.security.core.authority.SimpleGrantedAuthority">
	SELECT		auth
	FROM		auth
	WHERE		1=1
	AND			user_id = #{username}
</select>

<!-- Assign authority to user -->
<insert id="createAuthority" parameterType="org.springframework.security.core.GrantedAuthority">
	INSERT INTO auth (
		user_id,
		auth
	) VALUES
		<foreach item="authority" index="index" collection="authorities" separator=",">
			(#{username}, #{authority.role})
		</foreach>
			ON DUPLICATE KEY
			UPDATE
				user_id = #{username}
</insert>

<!-- Read users -->
<select id="readUsers" resultType="User">
	SELECT	user_id							as username,
				name						as name,
				age							as age,
				email						as email,
				create_date					as createDate,
				last_update					as lastUpdate,
				u_isAccountNonExpired		as isAccountNonExpired,
				u_isAccountNonLocked		as isAccountNonLocked,
				u_isCredentialsNonExpired	as isCredentialsNonExpired,
				u_isEnabled					as isEnabled
	FROM	user
	WHERE	1=1
</select>

<!-- Call Member Information -->
<select id="readUser" parameterType="String" resultType="User">
	SELECT		user_id							as username,
					password					as password,
					name						as name,
					age							as age,
					email						as email,
					create_date					as createDate,
					last_update					as lastUpdate,
					u_isAccountNonExpired		as isAccountNonExpired,
					u_isAccountNonLocked		as isAccountNonLocked,
					u_isCredentialsNonExpired	as isCredentialsNonExpired,
					u_isEnabled					as isEnabled
	FROM		user
	WHERE		1=1
	AND			user_id = #{userId}
</select>

<!-- Member Registration -->
<insert id="createUser" parameterType="User">
	INSERT INTO user (
		user_id,
		password,
		name,
		u_isAccountNonExpired,
		u_isAccountNonLocked,
		u_isCredentialsNonExpired,
		u_isEnabled
	) VALUES (
		#{username},
		#{password},
		#{name},
		#{isAccountNonExpired},
		#{isAccountNonLocked},
		#{isCredentialsNonExpired},
		#{isEnabled}
	)
</insert>

<update id="editUser" parameterType="User">
	UPDATE	user
	SET		password = #{password},
			name = #{name},
			age = #{age},
			email = #{email}
	WHERE	user_id = #{username}
</update>

</mapper>